.hmtl {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: 100%;
  height: 100px;
  display: inline-flex;
  padding: 33px 60px 32px 85px;
  flex-wrap: wrap;
  gap: 70%;
  color: #7C6A0A;
}
nav p {
  font-size: 1.5rem;
  font-weight: 400;
}
nav .nav__icons {
  margin: auto 0;
}
nav .nav__icons button {
  background: none;
  border-style: none;
}
nav .nav__icons button img {
  width: 30px;
  height: 30px;
}

article {
  color: #7C6A0A;
  width: 100%;
  height: auto;
  padding: 0px 69px 0 65px;
  display: inline-flex;
}
article h1 {
  width: 514px;
  height: 78px;
  font-size: 3rem;
  font-style: normal;
}
article .main__article-left {
  width: 50%;
  height: auto;
}
article .main__article-left p {
  width: 592px;
  height: 166px;
  font-size: 1.6rem;
  font-weight: 400;
  text-justify: content;
}
article .main__article-left button {
  width: 261px;
  height: 73px;
  margin-top: 100px;
  border-radius: 35px;
  font-size: 1.2rem;
  padding: 21px 85px 22px 46px;
  font-weight: bold;
  border-style: none;
  background-color: #FA9500;
  color: #FFEFE7;
}
article .main__article-rigth {
  width: 50%;
  height: auto;
}
article .main__article-rigth img {
  width: 550px;
  height: 686px;
  margin: 0 auto;
  border-radius: 19px;
}

.main__product {
  width: 100%;
  height: auto;
}
.main__product .main__product-health, .main__product .main__product-furniture {
  width: 100%;
  height: auto;
  padding: 0px 69px 0px 73px;
  margin-bottom: 73px;
  color: #7C6A0A;
}
.main__product .main__product-health h2, .main__product .main__product-furniture h2 {
  font-size: 2.5rem;
  font-weight: normal;
}
.main__product .main__product-health .main__product-health-cards, .main__product .main__product-furniture .main__product-health-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 140px;
  margin-top: 60px;
}
.main__product .main__product-health .main__product-health-cards .health__cards, .main__product .main__product-furniture .main__product-health-cards .health__cards {
  width: 324px;
  height: 502px;
  text-align: center;
  background-color: #FFDAC6;
  border-radius: 8px;
}
.main__product .main__product-health .main__product-health-cards .health__cards div, .main__product .main__product-furniture .main__product-health-cards .health__cards div {
  width: 100%;
  text-align: end;
}
.main__product .main__product-health .main__product-health-cards .health__cards div img, .main__product .main__product-furniture .main__product-health-cards .health__cards div img {
  width: 31px;
  margin: 14px 15px 12px 0;
}
.main__product .main__product-health .main__product-health-cards .health__cards .img__product, .main__product .main__product-furniture .main__product-health-cards .health__cards .img__product {
  width: 241px;
  height: 300px;
  border-radius: 6px;
}
.main__product .main__product-health .main__product-health-cards .health__cards h3, .main__product .main__product-furniture .main__product-health-cards .health__cards h3, .main__product .main__product-health .main__product-health-cards .health__cards p, .main__product .main__product-furniture .main__product-health-cards .health__cards p {
  width: 239px;
  margin: 0 0 0 41px;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 600;
}
.main__product .main__product-health .main__product-health-cards .health__cards p, .main__product .main__product-furniture .main__product-health-cards .health__cards p {
  font-size: 0.9rem;
  font-weight: normal;
}
footer {
  background-color: #FA9500;
  width: 100%;
  height: 500px;
}/*# sourceMappingURL=main.css.map */