$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif; 
$aditional-color: #FA9500;

@mixin flexCenter($direction) {
  display: $direction;
  flex-wrap: wrap;
}

@mixin buttonStyle {
  background: none;
  border-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: $font-stackl;
}

.hmtl {
  font-size: 62.5%;
}

nav {
  width: 100%;
  height: 100px;
  @include flexCenter(inline-flex);
  padding: 25px 35px 0px 22px;
  justify-content: space-between;
  color: $primary-text-color;

  p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: auto 0;
    text-align: start;
  }

  .nav__icons {
    margin: auto 0;
    text-align: end;

    button {
      @include buttonStyle;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

article {
  color: $primary-text-color;
  width: 100%;
  height: auto;
  padding: 0px 27px 0 27px;
  margin-bottom: 50px;

  .main__article-left {
    width: 100%;
    height: auto;

    h1{
      width: 100%;
      height: auto;
      font-size: 1.7rem;
      font-style: normal;
      text-align: justify;
      font-weight: 600;
      margin-top: 30px;
    }

    p {
      width: 100%;
      height: auto;
      font-size: 0.9rem;
      font-weight: 400;
      text-align: justify;
      margin-top: 20px;
    }

    button {
      width: 150px;
      height: 40px;
      margin-top: 50px;
      border-radius: 35px;
      font-size: 0.7rem;
      padding: 12px 48px 12px 26px;
      font-weight: bold;
      @include buttonStyle;
      background-color: #FA9500;
      color: #FFEFE7;

      &:hover{
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
    }
  }

  .main__article-rigth{
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 19px;
    }
  }
}

.main__product {
  width: 100%;
  height: auto;
  padding: 0px 27px 0 27px;

  h2{
    font-size: 1.7rem;
    font-weight: normal;
    color: $primary-text-color;
  }

  .main__product-health {
    width: 100%;
    height: auto;
    margin-bottom: 73px;
    color: $primary-text-color;
    
    .main__product-health-cards {
      @include flexCenter(flex);
      gap: 56px;
      margin-top: 60px;

      .product__cards {
        max-width: 324px;
        height: 502px;
        text-align: center;
        justify-content: center;
        background-color: $secundary-color;
        border-radius: 8px;

        div {
          width: 100%;
          text-align: end;
          
          img {
            width: 31px;
            margin: 14px 15px 12px 0;
          }
        }
  
        .img__product{
          width: 241px;
          height: 300px;
          border-radius: 6px;
        }

        h3{
          width: 239px;
          margin: 0 15px 0 21px;
          text-align: justify;
          font-size: 1.5rem;
          font-weight: 600;
        }

        p{
          @extend h3;
          font-size: 0.9rem;
          font-weight: normal;
        }
      }
    }
  }

  .main__product-furniture{
    @extend .main__product-health;

    .main__product-furniture-cards{
      @extend .main__product-health-cards;

      .product__cards {
        background-color: #BABD8D;
        color: #FFF;
      }

    }
  }
}


.main__more-content-about {
  @extend .main__product;

  div {
    width: 100%;
    height: auto;
    @include flexCenter(inline-flex);
    gap: 50px;

    .main__more-content-about-earth{
      @include flexCenter(inline-flex);
      margin: 100px 0 100px 0;

      img {
        width: 73px;
        height: 73px;
        margin: auto;
      }

      p {
        width: 163px;
        height: 162px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: #E86424;
      }
    }

    .main__more-content-about-innovation {
      @extend .main__more-content-about-earth;
      
      p{
        width: 163px;
        height: 117px;
        margin: auto;
      }
    
    }
  }
}

.main__more-content-style{
  @extend .main__more-content-about;

  div {
    @include flexCenter(inline-flex);
    gap: 40px;
    margin: 20px 0 100px 0;
  }

  img {
    width: 290px;
    height: 300px;
    border-radius: 16px;

    &:hover{
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
}

.main__more-content-map {
  @extend .main__more-content-style;
  margin-bottom: 100px;

  div {
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 30px;
    img { 
      width: 100%;
      height: 480px;
      margin-bottom: 50px;
      object-fit: cover;
    }
  }

  h3 {
    width: 100%;
    height: 57px;
    margin: 0;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #E86424;
  }

  h4{
    @extend h3;
    font-size: 1rem;
  }
}

footer {
  $backgorund: $aditional-color;
  background-color: $backgorund;
  width: 100%;
  height: 500px;
  @extend .main__more-content-map;
  color: #FFF;
  margin-bottom: 0;

  h3{
    font-size: 2rem;
    color: #FFF;
  }

  p {
    margin-top: 21px;
  }
  
  .footer__social-media {
    width: 193px;
    height: 43px;
    @include flexCenter(inline-flex);
    justify-content: space-between;
    margin: 230px auto 0px 0px;

    img {
      width: 43px;
      height: 43px;
    }
  }
}

@media (max-width: 768px){
  nav {
    gap: 50%;
  }
}

@media (max-width: 425px){
  nav {
    gap: 10%;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    .main__article-left {
      order: 2;
    }
    .main__article-rigth {
      order: 1;
    }
    img {
        width: 336px; 
    }
  }
}


@media (max-width: 767px) {
  .nav__menu-responsive {
    display: none;
  }

  article {
    display: flex;
    flex-direction: column;
    text-align: center;

    .main__article-left {
      order: 2;
    }
  
    .main__article-rigth {
      order: 1;
    }
  }

  .main__more-content-about{
    div{
      display: flex;
      flex-direction: column;
      gap: none;
      margin-left: 0;
      .main__more-content-about-earth{
        @include flexCenter(inline-flex);
        flex-direction: column;
        margin: 10px 0 10px 0;
  
        img {
          width: 73px;
          height: 73px;
          margin: auto;
        }
  
        p {
          width: 100%;
          height: 162px;
          margin-top: 20px;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
          color: #E86424;
        }
      }
    }
  }

  .main__more-content-style{
    img {
      width: 100%;
      height: 398px;
      border-radius: 16px;
    }
  }
}

@media (min-width: 767px) {
  .nav__icons-menu-mobile {
    display: none;
  }
  
  article {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    text-align: start;

    .main__article-left {
      width: 50%;
      order: 2;
    }
  
    .main__article-rigth {
      width: 50%;
      order: 1;
      img {
        max-width: 550px;
        max-height: 686px;
      }
    }
  }

  .main__more-content-about{
    div{
      .main__more-content-about-earth{
        width: 45%;
        img {
          width: 144px;
          height: 154px;
          margin: auto;
        }
  
        p {
          width: 250px;
          height: 162px;
          text-align: center;
          margin: auto 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #E86424;
        }
      }
    }
  }

  .main__more-content-map {
    h3 {
      width: 100%;
      height: 57px;
      margin: 0;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #E86424;
    }
  
    h4{
      @extend h3;
      font-size: 1.5rem;
    }
  }

  footer {
    h3{
      font-size: 2rem;
      color: #FFF;
    }
  }
}
