$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif; 
$aditional-color: #FA9500;

@mixin flexCenter($direction) {
  display: $direction;
  flex-wrap: wrap;
}

@mixin buttonStyle {
  background: none;
  border-style: none;
}

.hmtl {
  font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stackl;
}

nav {
  width: 100%;
  height: 100px;
  @include flexCenter(inline-flex);
  padding: 33px 60px 32px 85px;
  gap: 70%;
  color: $primary-text-color;

  p{
    font-size: 1.5rem;
    font-weight: 400;
  }

  .nav__icons {
    margin: auto 0;

    button {
      @include buttonStyle;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

article {
  color: $primary-text-color;
  width: 100%;
  height: auto;
  padding: 0px 69px 0 65px;
  display: inline-flex;

  h1{
    width: 514px;
    height: 78px;
    font-size: 3rem;
    font-style: normal;
  }

  .main__article-left {
    width: 50%;
    height: auto;

    p {
      width: 592px;
      height: 166px;
      font-size: 1.6rem;
      font-weight: 400;
      text-justify: content;
    }

    button {
      width: 261px;
      height: 73px;
      margin-top: 100px;
      border-radius: 35px;
      font-size: 1.2rem;
      padding: 21px 85px 22px 46px;
      font-weight: bold;
      @include buttonStyle;
      background-color: #FA9500;
      color: #FFEFE7;
    }
  }

  .main__article-rigth{
    width: 50%;
    height: auto;

    img {
      width: 550px;
      height: 686px;
      margin: 0 auto;
      border-radius: 19px;
    }
  }

}

.main__product {
  width: 100%;
  height: auto;

  .main__product-health {
    width: 100%;
    height: auto;
    padding: 0px 69px 0px 73px;
    margin-bottom: 73px;
    color: $primary-text-color;

    h2{
      font-size: 2.5rem;
      font-weight: normal;
    }
    
    .main__product-health-cards {
      @include flexCenter(flex);
      gap: 140px;
      margin-top: 60px;

      .health__cards {
        width: 324px;
        height: 502px;
        text-align: center;
        background-color: $secundary-color;
        border-radius: 8px;

        div {
          width: 100%;
          text-align: end;
          
          img {
            width: 31px;
            margin: 14px 15px 12px 0;
          }
        }
  
        .img__product{
          width: 241px;
          height: 300px;
          border-radius: 6px;
        }

        h3{
          width: 239px;
          margin: 0 0 0 41px;
          text-align: start;
          font-size: 1.5rem;
          font-weight: 600;
        }

        p{
          @extend h3;
          font-size: 0.9rem;
          font-weight: normal;
        }
      }
    }

  }

  .main__product-furniture{
    @extend .main__product-health;
  }
}

footer {
  $backgorund: $aditional-color;
  background-color: $backgorund;
  width: 100%;
  height: 500px;
}